* text=auto
*.asmdef text eol=lf
*.asset text eol=lf -whitespace
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf -whitespace
*.prefab text eol=lf -whitespace
*.ps1 text eol=lf
*.svg text eol=lf
*.unity text eol=lf -whitespace
LICENSE text eol=lf
*.png binary
